h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

body {
    text-rendering: geometricPrecision;
    font-family: "Dyslexie";
    font-family: "Source Code Pro Light";

    font-size: 16px;
    line-height: 150%;
    color: #F2F0CD;
    background-color: #02090B;
    margin: 10px 13px 10px 13px;
    padding-bottom: 64px;
}

html * {
    color-profile: sRGB;
}

strong {
    font-weight: bold;
    color: #ffd479;
    color: #64B68A;
}

em {

    font-weight: normal;
    font-style: normal;
    color: #ffd479;
    color: #64B68A;
}

table {
    min-width: 1150px !important;
    width: 100% !important;
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}

table tr:nth-child(2n) {
    background-color: #06181b;
}

td, th {
    border: 1px solid #3C3C3E;
    padding: 3px 10px;
}

th {
    padding: 5px 10px;
    color: #B3D8FD;
    background-color: #06181b;
}

a {
    color: #B4D9FB;
    text-decoration: none;
    border-bottom: 1px solid #2A595F;
}

a:hover {
    color: #2668D4;
    text-decoration: none;
}

a img {
    border: 2px solid;
}

p {
    margin-bottom: 10px;
    margin-bottom: 10px;
}

img {
    background-color: #7F7F7F;
    max-width: 1600px;
}

ul, ol {
    padding: 16px 0 8px 10px;
    margin: 16px 0 8px 10px;
}

input[type="checkbox"] {
    -webkit-appearance: none; /* Hides the default checkbox style */
    height: 15px !important;
    width: 15px !important;
    top: -4px !important;
    cursor: pointer;
    position: relative;
    -webkit-transition: .15s;
    border-radius: 4px;
    background-color: #FCB8B0;
    color: black
}

input[type="checkbox"]:checked {
    background-color: #BCFBBA;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before {
    position: absolute;
    top: -1px;
    left: -1px;
    height: 16px !important;
    width: 16px !important;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
    content: '✘';
}

input[type="checkbox"]:checked:before {
    content: '✔';
}

input[type="checkbox"]:hover:before {
    background: rgba(255, 255, 255, 0.3);
}

li {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 8px;
    padding-left: 0;
}

li p.first {
    display: inline-block;
}

li.task-list-item {
    list-style-type: none;
    margin-left: -20px;
}

li.task-list-item label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

li.task-list-item input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

ul li:nth-child(even) {
    background-color: #06181b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: #b4d9fb;
    margin-top: 18px;
    text-rendering: geometricPrecision;
    font-family: "Source Code Pro Light";
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 4px;
    text-transform: capitalize;
}

h1 {
    color: #54B2BC;
    font-weight: normal;
    margin-top: 32px;
    font-size: 26px;
    margin-bottom: 12px;

}

h2 {

    color: #ffd479;
    margin-top: 24px;
    font-weight: normal;
    font-size: 20px;
    margin-bottom: 8px;
}

h3 {
    font-size: 16px;
    color: #81ddaf;

    margin-top: 24px;
}

h4 {

    color: #FFEF93;
}

h5 {
    color: #FAFFAF;
}

h6 {
    color: #B6FFAA;
}

ul, ol {
    padding-left: 30px;
    margin-top: 0px;
    padding-top: 0px;
}

hr {
    margin: 32px 12px;
    border: 0;
    border-bottom: 1px solid #B4C5C5;
}

blockquote {
    margin-top: 8px;
    margin-bottom: 8px;
    font-style: normal;
}

blockquote p {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    padding-left: 8px;
    border-left: 3px solid #54B2BC;
}

blockquote p a {
    text-decoration: none;
    border-bottom: 1px solid #2A595F;
}

code, pre {
    font-family: "Source Code Pro Light" !important;
    color: #A0FEB5;
    display: block;
    padding: 12px;
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.1;
    border: 1px solid #3C3C3E;
    background-color: #051012;


    word-wrap: break-word;
    border-radius: 3px;
    margin-top: 0px;
    margin-bottom: 4px;

}


sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}

* {
    -webkit-print-color-adjust: exact;
}

@media screen and (min-width: 914px) {
    body {
        width: 1195px;
        margin: 10px auto;
    }
}

@media print {
    body, code, pre code, h1, h2, h3, h4, h5, h6 {
        color: black;
        background: white;
    }

    table, pre {
        page-break-inside: avoid;
    }
}

pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.1;

    background-color: #051012;
    color: #116CD6 white-space : pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}

pre code {
    background-color: #051012;
    color: #81ddaf;
    padding: 0;
    border: none;

}

pre:not([class]) {
    border: none;
    padding: 0px !important;
    color: #F2F0CD;
}

p {
    white-space: pre-line;
}
